.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 72px;
  background: #cccccc;
  color: black;
  line-height: 72px;
  a{
    width: 20%;
    float: left;
    margin: 0px 5%;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal{
  left: auto;
  height: auto;
  top: auto;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
