form{
  padding-top: 100px;
  button{
    float: left;
    padding: 5px;
    margin: 0px 5%;
  }
}

.input-row {
}

label {
  display: block;
  padding-bottom: 5px;
}

input, textarea {
  width: 90%;
  padding: 5px;
  margin: 0px 5%;
  font-size: 16px;
}



.has-error {
  border: 1px solid #f44336;
}

.form-message {
  padding-top: 2px;
}
.form-message.valid {
  color: #4caf50;
}
.form-message.invalid {
  color: #f44336;
}

.show-table{
  padding-top: 59px;
}

.ui.modal>.content{
  margin-top: 50px;
}
.view-members-modal{
  button:first-child{
    display: none;
  }
}
.update-modal{
  .actions{
    button:last-child{
      display: none;
    }
  }
}
.add-group{
  margin-right: 20px !important;
  margin-top: 15px !important;
}
